body{
  text-align:center;
}
div{
  margin-top:15px;
}
.img-section{
  display: flex;
  justify-content: center;
}
img{
  width:50px;
    height:100px;
}
.section-style{
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}